/build
/node_modules
.DS_Store
/tmp
/target
*.wasm

# mise conf
.mise.toml

# Shared objects
*.dll
*.so
*.so.*
*.dylib

# Debug files
*.dSYM/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
